<html>
  <body>
    <!-- ... -->
    <nav class="navbar navbar-light bg-dark">
      <a class="navbar-brand text-white" href="/gossips">
        <img src="https://logopond.com/logos/84580e04dc1d6b8eb99fc18efbbc43f2.png" width="30" height="30" class=" d-inline-block align-top" alt="">
        Super Gossip
      </a>
    </nav>
    <% if @comment %>
    <% if @comment.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p>Nous n'avons pas réussi à éditer le commentaire pour la (ou les) raison(s) suivante(s) :</p>
      
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <% end %>
    <center>
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <%= form_tag url_for(action: 'update'), method: "patch" do %>
        <%= label_tag 'Content' %>
        <%= text_area_tag 'content', @comment.content, class: "form-control col-4"%>
        <br /> <br />
        <%= submit_tag  "Update comment", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    </center>
    
    <!-- ... -->
  </body>
</html>
<form>