<html>
	<head>
		<nav class="navbar navbar-light bg-dark">
			<a class="navbar-brand text-white" href="/gossips">
				<img src="https://logopond.com/logos/84580e04dc1d6b8eb99fc18efbbc43f2.png" width="30" height="30" class=" d-inline-block align-top" alt="">
				Super Gossip
			</a>
		</nav>
		<title>The Gossip Project</title>
	</head>
	<body>
		<% if notice != nil  %>
		<div class="alert alert-success" role="alert">
			<p id="notice"><%= notice %></p>
		</div>
		<% end %>
		<% if alert != nil  %>
		<div class="alert alert-success" role="alert">
			<p id="alert"><%= alert %></p>
		</div>
		<% end %>
		<h1>Bienvenue sur super Gossip</h1>
		<a href="/gossips/new" class="btn btn-success">New Gossip</a>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">id</th>
					<th scope="col">Author</th>
					<th scope="col">Gossip</th>
				</tr>
			</thead>
			<tbody>
				<% i = 1 %>
				<% @all_users.each do |user| %>
				<th scope="row"><%= i %></th>
				<td>
				<%= user.first_name %></td>
				<% usergossip = user.gossips %>
				<td><% usergossip.each do |gossip| %>
					<a href="/gossips/<%= gossip.id %>"><%= gossip.title%></a> ;<span class="text-muted">(<%=gossip.comments.count%>) </span>
				<%end%></td>
				
			</tr>
			<% i+= 1%>
			<% end %>
		</tbody>
	</table>
</body>
</html>